.mainTitle {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #90ee90;
    padding: 14px 14px;
}
a:visited{
    color: burlywood;
}
a:active{
    color: plum;
}
.topBar {
    overflow: hidden;
    background-color: #013220
}
.topBar a {
    float: left;
    color: #90ee90;
    text-align: top;
    padding: 12px 12px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}
.topBar a.currentPage {
    background-color: #a9a9a9;
    color: #90ee90;
}
.topBar a:hover {
    background-color: #a9a9a9;
    color: #90ee90;
}
p {
    font-size: 16px;
}
figure {
    float: right;
}
body {
    background-color: #daffd4;
    font-family: Arial, Helvetica, sans-serif;
}
.form {
    font-weight: bold;
}
sup {
    color: red;
}


  